{
    "plugins": [
      ["module:react-native-dotenv", {
        "moduleName": "@env",
        "path": ".env.development",
        "blocklist": null,
        "allowlist": null,
        "safe": true,
        "allowUndefined": true
      }]
    ]
  }