<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582761720891-ib0ofj26hv7nk1dlo4tl06n7eeogmt4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582761720891-ib0ofj26hv7nk1dlo4tl06n7eeogmt4v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>582761720891-e2bv0brsibmt8n5g4fh1obf7vkripmhl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCu_l4KF63MoIWZ9EuLB0dL00aPc7VRZi4</string>
	<key>GCM_SENDER_ID</key>
	<string>582761720891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Wadoo</string>
	<key>PROJECT_ID</key>
	<string>wadoo-339100</string>
	<key>STORAGE_BUCKET</key>
	<string>wadoo-339100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582761720891:ios:e852e3ed1283327ff0801e</string>
</dict>
</plist>